* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* Nav Bar */
nav {
    display: flex;
    justify-content: space-between;
    line-height: 5rem;
    background: rgb(12,22,24);
    background: linear-gradient(297deg, rgba(12,22,24,1) 0%, rgba(0,70,67,1) 100%);
}

#nav-logo {
    font-family: 'Caveat';
    font-size: 2.5rem;
    margin-left: .5rem;
    padding-right: .5rem;
    color: #0C1618;
}

nav ul li {
    font-family: 'Caveat';
    display: inline-flex;
    font-size: 2.5rem;
    margin-right: 1rem;
    padding-left: 3.5rem;
}

nav ul li a {
    color: #004643;
}
/* Main Content */

/* About Content */

/* Contact / Footer */