* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: rgba(0,78,67,1) ;
}

/* Nav Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    height: 8vh;
    background: rgb(12,22,24);
    background: linear-gradient(297deg, rgba(12,22,24,1) 0%, rgba(0,70,67,1) 100%);
}

#nav-logo {
    font-family: 'Caveat';
    font-size: 3rem;
    margin-left: 2rem;
    letter-spacing: .5rem;
    color: #0C1618;
}

.nav-container li {
    display: inline-flex;
    margin-right: 1rem;
    padding-left: 3.5rem;
}

.nav-content a {
    font-size: 2.5rem;
    padding: .7rem 2rem;
    border-radius: 1rem;
    color: #004643;
    font-family: 'Caveat';
    text-transform: uppercase;
}

.nav-content a:hover {
    background-color: grey;
}

/* About Content */
#about {
    display: flex;
    align-self: center;
    text-align: center;
    height: 55rem;
    width: 100rem;
    margin-top: 8vh;
    /* border: 1px solid red; for flex visual */
    margin-left: 25%;
    margin-right: 25%;
}

#ab-cont {
    font-size: 1.5rem;
    width: 65%;
    padding: 10%;
}

#ab-img {
    width: 35%;
}
/* Contact / Footer */

#footer {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}